*{
  box-sizing: border-box;
  margin: 0 ;
}

.user-footer{
  background-color: rgb(68, 131, 224);
  padding: 20px;
  
}
.user-footer p{
  text-align: center;
  font-size: 30px;
  color: white;
}
.user-home {
  font-size: xx-large;
  text-align: center;
}